<section class="bg-white py-12">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="bg-[#172f43] grid lg:grid-cols-12 gap-6 items-center rounded-lg px-6 sm:px-8 lg:px-12 py-12">
            <!-- Text Section -->
            <div class="mr-auto place-self-center lg:col-span-7">

                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl text-white" aria-level="1">
                    Hello, I’m Sean!
                </h1>
                <p class="max-w-2xl mb-6 text-gray-300 lg:text-xl">
                    The Stand-Up Comedian From Edmonton That Even Other Comics Will Line Up To See!
                </p>
                <a href="#" class="inline-flex items-center sm:mx-auto md:mx-auto px-[80px] py-[20px] text-base font-medium text-[#172f43] uppercase rounded-[24px] bg-[#c2d6e8] hover:bg-[#aac4dd]">
                    Reach Out
                </a>
                
                
                
            </div>
            <!-- Image Section -->
            <div class="lg:col-span-5 flex justify-center">
                <img class="w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl" src="/images/sean-d.webp" alt="Sean Lecomber, Edmonton comedian">
            </div>
        </div>
    </div>
</section>

<style>
    a{
        font-family: "Oswald", sans-serif;
    }
</style>
