---

// export interface Props {
//     tests: array
// }

// const {tests} = Astro.props as Props;

const tests = [
        {   'id': 1,
        'name_event': 'Helena Monroe - Community Fundraiser',
        'testimonial':'We had such a great night with Sean! We had an awesome turnout, we packed the hall and he was so awesome! He did a lot of jokes that were just for us and really customized his act it seemed. He was a hit! He was also super easy to work with and very low maintenance.'
         }, 
         {
            'id': 2,
            'name_event' : 'Jared Borland - Family community Support Services',
            'testimonial': '“Couldn’t be happier. He was great and I would rebook him anytime.”'
         },
         {
            'id': 3,
            'name_event' : 'Ron Appleton - NAIT',
            'testimonial': '“Sean Lecomber was hilarious. We had a great time at our function and many of the staff commented that they really enjoyed his sense of humor and that they hadn’t laughed like that in a long time."'
         },
         {
            'id': 4,
            'name_event' : 'Juanita Redmond - Ladies night function',
            'testimonial': '“Sean delivered a great performance! I sat at the back of the room and watched the crowd. We laughed throughout his presentation. He didn’t cross the line with profanity or vulgarity and picked up on the local communities and on stuff I said prior to his introduction. Very personable and easy to work with. I enjoyed meeting him.”'
         },
         {
            'id': 5,
            'name_event' : 'Shania Marland - Fundraiser',
            'testimonial': '“It was awesome. Sean did an amazing job, heard great things from all the attendees.”'
         }];
---

{tests.map((test) => (
    <>
<div class="w-full h-9/10 m-auto max-w-xs bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col px-10 py-5">
        <!-- <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../src/images/placeholder-300.png" alt="placeholder image, will be used as a photo of a thumbs up or another icon to illustrate their opinion of Sean"/> -->
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{test.name_event}</h5>
        <div class="flex mt-4 md:mt-6">
            <p>{test.testimonial}</p>
        </div>
    </div>
</div>
</>
))
}



