<h3 class="font-bold text-left p-4 text-3xl">Live, Laugh, Click</h3>




<div class="flex flex-wrap md:grid md:grid-cols-3 gap-4">

    <div class="p-4 border-8 border-[#81a0ba]">
        <img class="h-auto max-w-full" src="../images/sean-a.webp" alt="Sean Lecomber">
    </div>
    <div class="p-4 border-8 border-[#81a0ba]">
        <img class="h-auto max-w-full" src="../images/sean-b.webp" alt="Sean Lecomber">
    </div>
    <div class="p-4 border-8 border-[#81a0ba]">
        <img class="h-auto max-w-full" src="../images/sean-c.webp" alt="Sean Lecomber">
    </div>
   




 <!-- old images -->
    <!-- <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
    </div> -->
   
</div>
