---


---


<header>
    <div class="inner-container">
        <h1>Sean Lecomber</h1>
        <nav>
            <ul>
                <li><a href="../src/pages/about.astro">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Show Dates</a></li>
                <li><a href="#">CBC Debaters</a></li>
            </ul>
        </nav>
        <!-- <div class="inner-container">
            <ul>
                <li>
                    <a href="#">
                        <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><defs><style>.prefix__a{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round}</style></defs>
                            <path class="prefix__a" d="M43.11 14.4a5 5 0 0 0-3.53-3.54c-2.32-.9-24.73-1.33-31.24.03a5 5 0 0 0-3.53 3.53C3.77 19 3.69 28.92 4.84 33.6a5 5 0 0 0 3.53 3.53c4.58 1.05 26.37 1.2 31.23 0a5 5 0 0 0 3.54-3.53c1.11-5 1.2-14.29-.03-19.2"/><path class="prefix__a" d="m30.57 24-10.45-6v12Z"/>
                         </svg>
                         Youtube
                     </a>
            </li>
                <li>
                    <a href="#">
                        <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.915 8.865c-3.223-1.914-8.54-2.09-11.618-1.156a.935.935 0 0 1-.543-1.79c3.533-1.073 9.405-.866 13.116 1.337a.936.936 0 0 1-.955 1.609M15.81 11.7a.78.78 0 0 1-1.073.257c-2.687-1.652-6.785-2.13-9.964-1.165A.78.78 0 0 1 4.32 9.3c3.631-1.102 8.146-.568 11.233 1.329a.78.78 0 0 1 .257 1.071m-1.224 2.723a.623.623 0 0 1-.857.207c-2.348-1.435-5.304-1.759-8.785-.964a.623.623 0 1 1-.277-1.215c3.809-.871 7.076-.496 9.712 1.115.294.18.387.563.207.857M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523.001 10 .001z" fill-rule="evenodd"/>
                        </svg>
                        Spotify
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18a6 6 0 1 0 0-12 6 6 0 0 0 0 12m0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8" fill="#0F0F0F"/><path d="M18 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2" fill="#0F0F0F"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.65 4.28C1 5.56 1 7.24 1 10.6v2.8c0 3.36 0 5.04.65 6.32a6 6 0 0 0 2.63 2.63c1.28.65 2.96.65 6.32.65h2.8c3.36 0 5.04 0 6.32-.65a6 6 0 0 0 2.63-2.63c.65-1.28.65-2.96.65-6.32v-2.8c0-3.36 0-5.04-.65-6.32a6 6 0 0 0-2.63-2.63C18.44 1 16.76 1 13.4 1h-2.8c-3.36 0-5.04 0-6.32.65a6 6 0 0 0-2.63 2.63M13.4 3h-2.8c-1.71 0-2.88 0-3.78.08-.87.07-1.32.2-1.64.36a4 4 0 0 0-1.74 1.74c-.16.32-.3.77-.36 1.64C3 7.72 3 8.9 3 10.6v2.8c0 1.71 0 2.88.08 3.78.07.87.2 1.32.36 1.64a4 4 0 0 0 1.74 1.74c.32.16.77.3 1.64.36.9.08 2.07.08 3.78.08h2.8c1.71 0 2.88 0 3.78-.08.87-.07 1.32-.2 1.64-.36a4 4 0 0 0 1.74-1.74c.16-.32.3-.77.36-1.64.08-.9.08-2.07.08-3.78v-2.8c0-1.71 0-2.88-.08-3.78a4 4 0 0 0-.36-1.64 4 4 0 0 0-1.74-1.74 4 4 0 0 0-1.64-.36C16.28 3 15.1 3 13.4 3" fill="#0F0F0F"/>
                    </svg>
                    Instagram
                </a>
                </li>
            </ul>
        </div> -->
    </div>
    

</header>


<style>
    header{
        padding: 1rem;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        text-decoration: none;
        gap: 2.2rem;
    }

    header div.inner-container{
        display: flex;
        justify-content: space-between;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover{
        text-decoration: underline;
        color: yellow;
        transition: 0.5 s ease;
    }

    ul li a:hover, svg path:hover{
        text-decoration: underline;
        color: yellow;
        transition: 0.5s ease;
    }

    svg path, svg{
        color: white;
        fill: white;
    }

    svg:hover, svg path:hover{
        color: yellow;
        fill: yellow;
        transition: 0.5s ease;
    }

</style>