---

const showDates = [
  { date: 'Thursday, 7:00pm', venue: 'The Yuk Yuk’s Comedy Club 13103 Fort Rd NW, Edmonton, AB' },
  { date: 'Friday, 7:00pm', venue: 'The Yuk Yuk’s Comedy Club 13103 Fort Rd NW, Edmonton, AB' },
  { date: 'Saturday, 9:00pm', venue: 'The Yuk Yuk’s Comedy Club 13103 Fort Rd NW, Edmonton, AB' },
  { date: 'Sunday, 5:00pm', venue: 'The Yuk Yuk’s Comedy Club 13103 Fort Rd NW, Edmonton, AB' },
  { date: 'Sunday, 8:00pm', venue: 'The Yuk Yuk’s Comedy Club 13103 Fort Rd NW, Edmonton, AB' },
];
---


<div class="py-1 lg:py-16 px-4 mx-auto max-w-screen-md w-full lg:w-1/2 bg-white text-black">
<h2 class="w-full mb-4 text-4xl tracking-tight font-extrabold">Show Dates</h2>
<div class="border-1 rounded-xl w-full">
  {showDates.map((show) => (
    <div class="flex justify-between items-center p-6 show-date w-full">
      <span class="text-lg font-medium flex-1">{show.date}</span>
      <span class="text-lg flex-1 text-left">{show.venue}</span>
    </div>
  ))}
</div>


  <div class="mt-8 text-center">
    <div class="flex justify-center">
      <a href="https://www.yukyuks.com/" target="_blank" class="bg-[#172f43] hover:bg-[#122433] text-white font-bold py-[19px] px-[35px] rounded-[24px] flex items-center gap-2">
        GET TICKETS AT YUK YUK'S
        <svg width="46" height="35" viewBox="0 0 46 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M44.9832 24.8768C44.0739 24.5269 43.3553 23.8441 42.9597 22.9541C42.5641 22.0639 42.5389 21.0731 42.8885 20.1638C43.0221 19.8164 43.0282 19.4347 42.9095 19.085C42.018 19.4789 41.3937 20.3701 41.3937 21.4056C41.3937 22.892 40.1845 24.1012 38.6981 24.1012H30.1284C30.1109 24.2006 30.0841 24.2999 30.0463 24.3976C29.8053 25.0286 29.2043 25.4156 28.5668 25.4156C28.3782 25.4156 28.1847 25.3808 27.9976 25.3094C27.459 25.1022 27.0993 24.6316 27.0064 24.1013H7.30217C5.81576 24.1013 4.6066 22.8922 4.6066 21.4058C4.6066 20.0069 3.46853 18.8686 2.06948 18.8686C1.63302 18.8686 1.22181 18.7621 0.8566 18.5771L0.106197 20.528C-0.208368 21.3454 0.199591 22.2629 1.0169 22.5771C2.89361 23.299 3.83343 25.4133 3.11153 27.2903C2.79712 28.1078 3.20507 29.0252 4.02239 29.3394L33.3256 40.6099C33.5128 40.6819 33.705 40.7161 33.8945 40.7161C34.5315 40.7161 35.1323 40.3294 35.3747 39.6992C35.9129 38.3 37.2813 37.3598 38.7797 37.3598C39.226 37.3598 39.6661 37.4422 40.0879 37.6044C40.4804 37.7554 40.9168 37.7442 41.3011 37.5734C41.6853 37.4026 41.9861 37.0863 42.137 36.6937L45.8938 26.9259C46.2083 26.1087 45.8005 25.1912 44.9832 24.8768ZM26.9733 32.3894C26.7306 33.0204 26.1296 33.4074 25.4923 33.4074C25.3035 33.4074 25.1117 33.3724 24.9231 33.3012C24.1064 32.9871 23.699 32.0691 24.0128 31.2524C24.3269 30.4343 25.2449 30.0268 26.0615 30.3406C26.8797 30.6561 27.2872 31.5727 26.9733 32.3894ZM28.5097 28.3934C28.267 29.0244 27.6676 29.4114 27.0302 29.4114C26.8399 29.4114 26.6482 29.3766 26.4611 29.3052C25.6428 28.9911 25.2353 28.0731 25.5508 27.2566C25.8648 26.4383 26.7812 26.0308 27.5994 26.3448C28.4163 26.6587 28.8236 27.5769 28.5097 28.3934ZM36.6898 28.9922C36.4474 29.6222 35.8464 30.0091 35.2094 30.0091C35.02 30.0091 34.8278 29.9751 34.6405 29.903L32.1985 28.9638C31.3812 28.6493 30.9734 27.7321 31.2876 26.9146C31.6022 26.0971 32.52 25.6896 33.3369 26.0037L35.7789 26.9429C36.5962 27.2574 37.0042 28.1747 36.6898 28.9922Z" fill="white"/>
          <path d="M2.07021 16.6492C4.69314 16.6492 6.8271 18.7832 6.8271 21.4061C6.8271 21.6684 7.04053 21.8817 7.30274 21.8817H38.6987C38.9611 21.8817 39.1743 21.6683 39.1743 21.4061C39.1743 18.7832 41.3083 16.6492 43.9312 16.6492C44.1936 16.6492 44.4069 16.4358 44.4069 16.1735V5.70817C44.4069 5.4458 44.1935 5.23253 43.9312 5.23253C41.3083 5.23253 39.1743 3.09857 39.1743 0.475643C39.1743 0.213273 38.9609 0 38.6987 0H7.3029C7.04053 0 6.82726 0.213427 6.82726 0.475643C6.82726 3.09857 4.69329 5.23253 2.07037 5.23253C1.808 5.23253 1.59473 5.44596 1.59473 5.70817V16.1735C1.59442 16.4358 1.80784 16.6492 2.07021 16.6492ZM33.4662 9.35518H36.0824C36.9581 9.35518 37.6681 10.0652 37.6681 10.9409C37.6681 11.8166 36.9581 12.5265 36.0824 12.5265H33.4662C32.5905 12.5265 31.8805 11.8166 31.8805 10.9409C31.8805 10.0652 32.5905 9.35518 33.4662 9.35518ZM28.233 0.916127C29.1098 0.916127 29.8187 1.62642 29.8187 2.50181C29.8187 3.37705 29.1098 4.08749 28.233 4.08749C27.3576 4.08749 26.6473 3.37705 26.6473 2.50181C26.6473 1.62642 27.3576 0.916127 28.233 0.916127ZM28.233 5.19737C29.1098 5.19737 29.8187 5.90766 29.8187 6.78305C29.8187 7.65829 29.1098 8.36874 28.233 8.36874C27.3576 8.36874 26.6473 7.65829 26.6473 6.78305C26.6473 5.90766 27.3576 5.19737 28.233 5.19737ZM28.233 9.47862C29.1098 9.47862 29.8187 10.1889 29.8187 11.0643C29.8187 11.9395 29.1098 12.65 28.233 12.65C27.3576 12.65 26.6473 11.9395 26.6473 11.0643C26.6473 10.1889 27.3576 9.47862 28.233 9.47862ZM28.233 13.76C29.1098 13.76 29.8187 14.4703 29.8187 15.3457C29.8187 16.2209 29.1098 16.9314 28.233 16.9314C27.3576 16.9314 26.6473 16.2209 26.6473 15.3457C26.6473 14.4703 27.3576 13.76 28.233 13.76ZM28.233 18.0413C29.1098 18.0413 29.8187 18.7516 29.8187 19.627C29.8187 20.5022 29.1098 21.2126 28.233 21.2126C27.3576 21.2126 26.6473 20.5022 26.6473 19.627C26.6473 18.7516 27.3576 18.0413 28.233 18.0413Z" fill="white"/>
          </svg>
      </a>
    </div>
    

    <p class="mt-2 text-sm text-gray-500">
      *This will take you to an external website
    </p>
  </div>
</div>

<style>
  div.show-date:nth-of-type(even){
    background: #172f43;
    color: white;
  }
</style>