---
// TestimonialCard.astro
const { name_event, testimonial } = Astro.props;
---

<div class="w-full bg-[#172f43] border bg-[#172f43]-700 rounded-lg shadow-sm flex flex-col h-full text-white">
    <img src="../images/five-star-rating.svg" alt="Five Star Rating" class="w-40 m-5" />
    <div class="flex flex-col px-5 py-4 flex-grow">
    <h5 class="mb-1 text-lg font-medium text testimonial-heading">{name_event}</h5>
    <div class="flex mt-3 flex-grow">
      <p class="flex-grow">{testimonial}</p>
    </div>
  </div>
</div>