
<div class="flex justify-between flex-wrap m-auto sm:flex-col lg:flex-row p-16">     <!-- Beginning of Container -->
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md w-full lg:w-1/2"> <!--Beginning of Written Content -->
        <h2 class=" w-full mb-4 text-4xl tracking-tight font-extrabold">About Me</h2>
       <div class="py-8 lg:py-16 px-4 bg-black h-full w-full">
         <p class="w-full h-full">Sean is a CBC Debaters regular with 30 appearances on the show.  He has appeared on the Tonight Show with Jay Leno. He filmed Just for Laughs galas in 2013 and 2020. Sean is the winner of the Just for Laughs homegrown competition awarded each year to Canada’s funniest new comedian. His other festival credits include 3 appearances at the Halifax comedy festival as well as the Winnipeg comedy festival in 2013 and 2016.  He has written for this hour has 22 minutes and is a two time Canadian comedy award nominee.  His work can also be heard on XM Radio.  </p>
       </div>
    </div> <!-- End of Written Content -->

    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md w-full lg:w-1/2">   
        <h2 class=" w-full mb-4 text-4xl tracking-tight font-extrabold">Check Out My Work</h2>
        <iframe class="w-full"  src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" ></iframe>
    </div>
</div>  <!-- End of Container -->