<div class="flex justify-between flex-wrap m-auto sm:flex-col lg:flex-row">     <!-- Beginning of Container -->
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md w-full lg:w-1/2 align-middle my-auto"> 
        <h2 class="w-full mb-4 text-4xl tracking-tight font-extrabold text-[#172f43]">Check Out My Work</h2>
        <iframe class="w-full" width="560" height="315" src="https://www.youtube.com/embed/9_sNIvqC_JE?si=nY_PULir9du7ZNkm" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md w-full lg:w-1/3 ">   
                    <div class="flex flex-col gap-8">
                        <iframe class="w-full" width="262" height="198" src="https://www.youtube.com/embed/9_sNIvqC_JE?si=nY_PULir9du7ZNkm" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe class="w-full" width="262" height="198" src="https://www.youtube.com/embed/9_sNIvqC_JE?si=nY_PULir9du7ZNkm" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe class="w-full" width="262" height="198" src="https://www.youtube.com/embed/9_sNIvqC_JE?si=nY_PULir9du7ZNkm" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            
        </div>
        <!-- i have linked his old yt vdo, but if he does not wanna go with YT vhannel then we will replace this with an actual video like .mp3 file or something idk -->
    
</div>  <!-- End of Container -->